<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gender</key>
    <array>
        <string>指定なし_0</string>
        <string>男性_1</string>
        <string>女性_2</string>
    </array>
    <key>job</key>
    <array>
        <string>指定なし_0</string>
        <string>会社員_1</string>
        <string>自営業_2</string>
        <string>公務員_3</string>
        <string>専門学校生_4</string>
        <string>大学生_5</string>
        <string>飲食関連_6</string>
        <string>医師_7</string>
        <string>看護師_8</string>
        <string>美容･エステ系_9</string>
        <string>広告関連_10</string>
        <string>IT･システムWEB系_11</string>
        <string>金融･保険関連_12</string>
        <string>不動産関連_13</string>
        <string>その他_14</string>
    </array>
    <key>residence</key>
    <array>
        <string>北海道</string>
        <string>青森</string>
        <string>秋田</string>
        <string>岩手</string>
        <string>山形</string>
        <string>宮城</string>
        <string>福島</string>
        <string>東京</string>
        <string>神奈川</string>
        <string>千葉</string>
        <string>埼玉</string>
        <string>茨城</string>
        <string>群馬</string>
        <string>栃木</string>
        <string>長野</string>
        <string>山梨</string>
        <string>新潟</string>
        <string>富山</string>
        <string>石川</string>
        <string>福井</string>
        <string>愛知</string>
        <string>三重</string>
        <string>岐阜</string>
        <string>静岡</string>
        <string>大阪</string>
        <string>兵庫</string>
        <string>京都</string>
        <string>奈良</string>
        <string>滋賀</string>
        <string>和歌山</string>
        <string>広島</string>
        <string>岡山</string>
        <string>山口</string>
        <string>鳥取</string>
        <string>島根</string>
        <string>愛媛</string>
        <string>香川</string>
        <string>徳島</string>
        <string>高知</string>
        <string>福岡</string>
        <string>佐賀</string>
        <string>熊本</string>
        <string>大分</string>
        <string>長崎</string>
        <string>宮崎</string>
        <string>鹿児島</string>
        <string>沖縄</string>
    </array>
    <key>personality</key>
    <array>
        <string>指定なし_0</string>
        <string>やさしい_1</string>
        <string>明るい_2</string>
        <string>面白い_3</string>
        <string>クール_4</string>
        <string>天然_5</string>
        <string>甘えん坊_6</string>
        <string>その他_7</string>
    </array>
    <key>hobby</key>
    <array>
        <string>ドライブ_0</string>
        <string>アニメ・漫画・ゲーム_1</string>
        <string>スポーツ_2</string>
        <string>カラオケ_3</string>
        <string>ギャンブル_4</string>
        <string>ショッピング_5</string>
        <string>その他_6</string>
    </array>
</dict>
</plist>
